<div class="left_nav">
    <div class="left_nav-btn">
        <span id="left_nav-switch"></span>
    </div>
    <ul id="nav_list">
        <li><a href="/news">News</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/todo_list">Todos</a></li>
    </ul>
</div>
