{{> head}}
<body>
    <div class="main-wrapper">
        <div class="header">
            {{> navbar}}
        </div>
        <div class="content">
            <div class="left_nav-wrapper">
                {{> left_nav}}
            </div>
            <div class="content-wrapper">
                {{> content_header}}
                <div class="page-wrapper">
                    {{{ body }}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
