{{#if news.length}}
    <div class="news-list">
        {{#each news}}
            <div id="{{ _id }}" class="news">
                <div class="news-title">{{title}}</div>
                <div class="news-info-block">
                    <div class="news-info">
                        <div class="news-author">Author: {{author}}</div>
                        <div class="news-date">
                            {{#if is_published}}
                                <span class="published">{{changeDateFormat published_at}}</span>
                            {{else}}
                                <span class="not-published">{{changeDateFormat created_at}}</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="news-controls">
                        <a href="/news/edit/{{ _id }}" class="edit-link"><img src="/images/edit.svg"></a>
                        <div class="news-control-field">
                            <span>Status:</span>
                            <input type="checkbox" id="status-{{_id}}" onchange="changeStatus('{{_id}}', this)" {{#if is_published}}checked{{/if}}>
                            <label for="status-{{_id}}">{{#if is_published}}Published{{else}}Not published{{/if}}</label>
                        </div>

                        <button onclick="removeNews('{{_id}}')"><img src="/images/delete.svg"></button>
                    </div>
                </div>
                <div class="news-content">
                    {{#if newsImages.length}}
                        <div class="news-gallery">
                            {{#each newsImages}}
                                <div class="news-gallery-item">
                                    <img src="{{this}}">
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                    <div class="news-text">
                        {{content}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <div class="empty-list">
        <span class="empty-list-title">News not found</span>
        <a href="/news/create" class="add-btn">Add news</a>
    </div>
{{/if}}


