<div class="form-wrapper">
    {{#if news}}
    <form action="/news/{{news._id}}" method="PUT" enctype="multipart/form-data">
    {{else}}
    <form action="/news/create" method="POST" enctype="multipart/form-data">
    {{/if}}
        <div class="form-fields">
            <div class="form-field">
                <label>Title</label>
                <input type="text" name="title" {{#if news}}value="{{news.title}}{{/if}}">
            </div>
            <div class="form-field">
                <label>Description</label>
                <textarea name="description" cols="30" rows="10" {{#if news}}value="{{news.content}}{{/if}}">
                    {{#if news}}{{news.content}}{{/if}}
                </textarea>
            </div>
            <div class="form-field">
                <label>Author</label>
                <input type="text" name="author" {{#if news}}value="{{news.author}}{{/if}}">
            </div>
            <div id="previews">
                <div class="preview-wrapper">
                    <label for="img-1">Choose file...</label>
                    <input type="file" id="img-1" name="img_1" onchange="setImagePreview(this)">
                </div>
                <div class="preview-wrapper">
                    <label for="img-2">Choose file...</label>
                    <input type="file" id="img-2" name="img_2" onchange="setImagePreview(this)">
                </div>
                <div class="preview-wrapper">
                    <label for="img-3">Choose file...</label>
                    <input type="file" id="img-3" name="img_3" onchange="setImagePreview(this)">
                </div>
                <div class="preview-wrapper">
                    <label for="img-4">Choose file...</label>
                    <input type="file" id="img-4" name="img_4" onchange="setImagePreview(this)">
                </div>
                <div class="preview-wrapper">
                    <label for="img-5">Choose file...</label>
                    <input type="file" id="img-5" name="img_5" onchange="setImagePreview(this)">
                </div>
                <div class="preview-wrapper">
                    <label for="img-6">Choose file...</label>
                    <input type="file" id="img-6" name="img_6" onchange="setImagePreview(this)">
                </div>
                <div class="preview-wrapper">
                    <label for="img-7">Choose file...</label>
                    <input type="file" id="img-7" name="img_7" onchange="setImagePreview(this)">
                </div>
                <div class="preview-wrapper">
                    <label for="img-8">Choose file...</label>
                    <input type="file" id="img-8" name="img_8" onchange="setImagePreview(this)">
                </div>
            </div>
        </div>
        <div class="form-buttons">
            <button type="submit">{{#if news}}Save{{else}}Create{{/if}}</button>
        </div>
    </form>
</div>
