<div class="form-wrapper">
    <form action="/togo_list/create" method="POST">
        <div class="form-field">
            <label for="title">Заголовок</label>
            <input type="text" name="title">
        </div>
    </form>
</div>
