{{#if todos.length}}
    <div class="todo-list-wrapper">

    </div>
{{else}}
    <div class="empty-list">
        <span class="empty-list-title">Todos not found</span>
        <a href="/todo_list/create" class="add-btn">Add new todo</a>
    </div>
{{/if}}

