* {
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b3c2c4;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    cursor: pointer;
}


.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 72px;
    background-color: #333333;
    color: #fff;
}

.app-logo {
    padding: 0 24px;
}

.app-logo svg {
    height: 48px;
    width: 80px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    min-height: calc(100vh - 72px);
}

.left_nav-wrapper {
    display: flex;
    min-height: calc(100vh - 72px);
    width: 220px;
    background-color: #333;
}

.left_nav {
    display: flex;
    width: 100%;
    padding: 0 12px;
}

ul#nav_list {
    width: inherit;
    list-style: none;
    padding: 0;
}

ul#nav_list li {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid transparent;
    /*transition: .3s ease;*/
}

ul#nav_list li:hover {
    border-bottom-color: #4CAF50;
    cursor: pointer;
}
ul#nav_list li:hover a {
    color: #4CAF50;
}

ul#nav_list li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.content .content-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 220px);
}

.page-wrapper {
    min-height: calc(100vh - 56px - 72px);
    padding: 24px;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 24px;
    border-bottom: 1px solid #aeaeae;
}

.content-header h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
    transition: .3s ease;
}

.add-btn:hover {
    background-color: rgba(2, 110, 0, .75);
}

.empty-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 140px;
    width: 85%;
    margin: 50px auto;
    border-radius: 4px;
    border: 1px solid #2ecc40;
    color: #4CAF50;
    background-color: rgba(46, 204, 64, .3);
}

.empty-list-title {
    font-size: 20px;
}

.form-wrapper {
    display: flex;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.form-field label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #757575;
}

.form-field input[type='text'] {
    height: 36px;
    padding-left: 10px;
}

.form-field textarea {
    padding: 10px;
    line-height: 15px;
    resize: none;
}

.form-field textarea, .form-field input[type='text'] {
    width: 100%;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.form-field textarea:hover, .form-field input[type='text']:hover {
    border-color: rgba(76, 175, 80, 1);
    cursor: pointer;
}

#previews {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.preview-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 180px;
    margin-top: 4px;
    background-color: #333;
}

.preview-wrapper input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.preview-wrapper label {
    user-select: none;
    color: #EEEEEE;
}

.preview-wrapper input:focus,
.preview-wrapper label:hover {
    cursor: pointer;
}

.preview {
    position: relative;
    height: inherit;
    width: inherit;
}

.preview img {
    height: inherit;
    width: inherit;
    object-fit: contain;
}

.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 24px;
    background-color: rgba(255, 69, 0, .75);
}

.remove-image:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.remove-image::before, .remove-image::after {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -1px;
    margin-right: -10px;
    display: block;
    content: '';
    height: 2px;
    width: 20px;
    background-color: #fff;
}

.remove-image::before {
    transform: rotate(45deg);
}

.remove-image::after {
    transform: rotate(135deg);
}

.form-buttons {
    display: flex;
    margin-top: 30px;
}

.form-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(76, 175, 80, 1);
    padding: 15px 45px;
    color: #fff;
    background-color: rgba(76, 175, 80, 1);
    border-radius: 5px;
    transition: .3s ease;
}

.form-buttons button:hover {
    background-color: rgba(76, 175, 80, .7);
    cursor: pointer;
}

.news-list {
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    padding: 24px;
    border-radius: 5px;
    background-color: aliceblue;
}

.news-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
}

.news-info-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.news-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.news-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    text-decoration: none;
}

.news-author {
    display: flex;
    font-size: 18px;
    color: #aeaeae;
}

.news-date {
    display: flex;
    margin-left: 12px;
    font-size: 14px;
    color: #aeaeae;
}

.published, .not-published {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    border-radius: 12px;
    border: 1px solid;
}

.published {
    border-color: #4CAF50;
    background-color: #C8E6C9;
    color: #4CAF50;
}

.not-published {
    border-color: #f44336;
    background-color: #ffcdd2;
    color: #f44336;
}

.news-content {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.news-gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
}
.news-gallery-item {
    display: flex;
    width: 120px;
    height: inherit;
}

.news-gallery-item img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.news-text {
    display: flex;
    margin-top: 24px;
}
